# Please refer to https://www.digitalocean.com/community/tutorials/how-to-manage-python-with-pyenv-and-direnv
if [ -f ".python-version" ] ; then
    if [ ! -d ".venv" ] ; then
        echo "Installing virtualenv for $(python -V)"
        python -m venv .venv
        pip install --upgrade pip
    fi
    source .venv/bin/activate
    echo "Activating .venv"
    echo "$(python -V)"
fi

# env for dev toolchain
export GCLOUD_SDK_ROOT=$(gcloud info --format="value(installation.sdk_root)")
export PATH=$PATH:$(PWD)/lib/bin
unset PS1
